html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', serif;
    color: #082264;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    margin: 25px 0;
}

sub {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: auto;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 33px;
    height: 30px;
}

.logo p {
    max-width: 145px;
    margin-left: 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #082264;
    font-weight: 700;
}

.navigation {
    overflow: hidden;
    width: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation a {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #082264;
    font-weight: 600;
}

.navigation a:hover {
    color: black;
}

.mobileIconContainer {
    display: none;
    cursor: pointer;
    padding: 20px;
}

.mobileNavBar1, .mobileNavBar2, .mobileNavBar3 {
    width: 20px;
    height: 2px;
    background-color: #082264;
    margin: 3px 0;
    transition: 0.4s;
}

.change .mobileNavBar1 {
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change .mobileNavBar2 {opacity: 0;}

.change .mobileNavBar3 {
    transform: rotate(45deg) translate(-4px, -4px);
}

@media screen and (max-width: 1160px) {
    header {
        flex-flow: row wrap;
        margin: 20px 0 20px 20px;
    }
    .logo {
        order: 1;
        flex-grow: 1;
    }
    .navigation {
        display: none;
        order: 3;
        flex-grow: 2;
    }
    .mobileIconContainer {
        display: block;
        order: 2;
        flex-grow: 0;
    }
    .navigation.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navigation.responsive a {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }
    .navigation.responsive a:not(:last-child) {
        border-bottom: 1px #EEF9FF;
    }
}

section {
    width: auto;
    margin: 60px 0;
}

.hero {
    background: url("./../images/hero-image.png") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 60px 0;
}

.hero span {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
}

.container {
    max-width: 1160px;
    margin: auto;
}

@media screen and (max-width: 1160px) {
    section {
        margin: 60px 20px;
    }

    .container {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .container span {
        margin-left: 20px;
        margin-right: 20px;
    }
}

footer {
    position: sticky;
    bottom: 0;
    padding: 20px;
    background-color: #082264;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

footer p {
    color: white;
    margin: 0;
}

footer p a {
    color: white;
}

.content .container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content:nth-child(even) .container {
    flex-direction: row-reverse;
}

.content .container img {
    width: 100%;
    height: auto;
    max-width: 518px;
    max-height: 350px;
}

.contentText {
    max-width: 523px;
}

.contentText h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #55B8F0;
}

.contentText h2 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #082264;
}

.contentText p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #082264;
}

.contentText button {
    width: 216px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #55B8F0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 1160px) {
    .content .container {
        width: 100%;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #D9D9E8;
    border-radius: 4px 4px 0px 0px;
}

tr th,
tr td{
    border-bottom: 1px solid #D9D9E8;
    box-sizing: border-box;
}

thead tr,
tfoot tr{
    background-color: #EEF9FF;
}

thead th {
    text-align: start;
}

th, td {
    padding: 15px;
}

tbody th:nth-child(1) {
    text-align: start;
}

tbody td {
    color: black;
}

tfoot th {
    border: none;
    text-align: start;
}

tfoot td {
    border: none;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr, tfoot {
        display: block;
        border: none;
    }

    tbody tr:not(:last-child) {
        margin-bottom: 10px;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #D9D9E8; }

    td {
        border: none;
        border-bottom: 1px solid #D9D9E8;
        position: relative;
        padding-left: 40%;
    }

    td:last-child {
        border: none;
    }

    td:before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        padding-right: 10px;
        white-space: nowrap;
        border-right: 1px solid #D9D9E8;
        background-color: #EEF9FF;
        font-weight: 600;
        color: #082264;
    }

    td:before:last-child {
        border: none;
    }

    tfoot {
        margin-top: 10px;
    }

    td:nth-of-type(1):before { content: "Navn"; }
    td:nth-of-type(2):before { content: "Company"; }
    td:nth-of-type(3):before { content: "Level"; }
    td:nth-of-type(4):before { content: "Deals closed"; }
    td:nth-of-type(5):before { content: "State"; }
    td:nth-of-type(6):before { content: "Phone"; }
    td:nth-of-type(7):before { content: "Email"; }
}
